*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-right: 20vw;
  }
  nav ul{
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(1, 122, 122, 0.8);
    font-size: larger;
    padding-top: 30px;  
    gap: 5px;  
    font-weight: 800;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
    color: rgb(0, 53, 88);
     border: 4px solid transparent;
    border-radius: 10px;
  


  }
  .sidebar a:hover{
    width: 100%;
    color: rgb(0, 53, 88);
    border:4px solid rgb(1, 156, 156);
    color: cyan;
    
   box-shadow: 2px 2px 2px cyan;

  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    nav{
      padding-right: 5vw;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }


